{% extends 'base.html' %}
{% load static %}


{% block main %}

<div class="container">
    <div class="row justify-content-md-center">
        <div class="col">
            {% if messages %}
            {% for message in messages %}
            {% if message.tags == 'error' %}
            <div class="alert alert-danger">
                <strong>{{ message }}</strong>
            </div>
            {% elif message.tags == 'success' %}
            <div class="alert alert-primary">
                <strong>{{ message }}</strong>
            </div>
            {% endif %}
            {% endfor %}
            {% endif %}

            {% load crispy_forms_tags %}
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form|crispy }}
                {{ phone|crispy }}
                {{ image|crispy }}
                <input type="submit" value="Gonder">
            </form>
        </div>
    </div>
</div>



{% endblock %}